header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: fit-content;
  padding: 10px 120px;
  align-items: center;
  background: var(--header-gradient);
  backdrop-filter: blur(7.5px);
  transition: background-color 0.3s ease;
  z-index: 10;
  box-sizing: border-box;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--primary-blue-gradient);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

header:hover::before {
  opacity: 1;
}

.headerLinkContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 26px 0px;
}

/* Hide burger icon on desktop */
.burger-icon {
  display: none;
  cursor: pointer;
}

/* MOBILE STYLES */
@media screen and (max-width: 1086px) {
  header {
    padding: 10px 24px;
  }

  .desktop-links {
    display: none;
  }

  .burger-icon {
    display: block;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--primary-blue);
    backdrop-filter: blur(7.5px);
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
  }

  .mobile-links {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .logo {
    max-width: 120px;
  }
}
