
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import './variables.css';

@font-face {
  font-family: 'Newake';
  src: url('../assets/fonts/Newake/NewakeFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  color: var(--dark-contrast);
  margin: 0;
}

small {
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
}

h2 {
  text-align: center;
  font-family: 'Newake';
  color: var(--primary-blue);
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
}
