:root {
  --primary-blue: #658ED8;
  --secondary-blue: #50B5DE;
  --secondary-blue-lighter: #F4F8FF;
  --dark-contrast: #253656;
  --green: #98C340;

  --header-gradient :  linear-gradient(180deg, rgba(63, 100, 169, 0.70) 0%);
  --yellow-gradient : linear-gradient(45deg, #F9D028 0%, #FF9000 100%), #FFF;
  --primary-blue-gradient: linear-gradient(180deg, rgba(63, 100, 169, 0.80) 0%, rgba(63, 100, 169, 0.80) 100%);
  --secondary-blue-gradient: linear-gradient(180deg, #50B5DE 0%, #8DC8E6 100%), #98C340;

}
