.section {
    display: flex;
    padding: 100px 205px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.blue {
    background-color: #F4F8FF;
}

@media screen and (max-width: 600px) {
    .section {
        padding: 50px 50px;
    }
}